html {
    font-family: "Helvetica Neue", "Arial", "Hiragino Kaku Gothic ProN", "Meiryo", sans-serif;
}

body {
    background-repeat : no-repeat;
    background-size: 100%;
    height: 100%;
}

#content {
    width: 1024px;
    margin: 0 auto;
    height: 100%;
}

#page_header {
    line-height: 60px;
    background-color: #5cc0ff;
    overflow: hidden;
}

#site_title {
    color: #fff;
    margin: 0 auto;
    padding-left: 15px;
    font-size: 23px;
}

#page_main {
    position: relative;
    background-color: #ddd;
    height: 430px;
    overflow: hidden;
}

#page_footer {
    background-color: #5cc0ff;
    height: 250px;
}