#page_title {
    text-align: center;
    margin-top: 30px;
}

#login_form {
    position: absolute;
    top: 20%;
    left: 370px;
}

#login_form p:nth-child(-n+2) {
    text-align: right;
}

#login_form p:nth-child(3) {
    text-align: center;
}

#register {
    position: absolute;
    top: 70%;
    left: 470px;
}
