#page_title {
    text-align: center;
    margin-top: 30px;
}

.mandatory {
    color: red;
    font-weight: bold;
    margin-left: 5px;
}

#register_form {
    position: absolute;
    top: 20%;
    left: 340px;
}

#register_table {
    background-color: white;
}

#submit {
    width: 357px;
    margin-top: 20px;
}

#register_form p:nth-child(-n+4) {
    text-align: right;
}

#register_form p:nth-child(5) {
    text-align: center;
}

#return {
    position: absolute;
    top: 60%;
    left: 430px;
}