#page_title {
	text-align: center;
	margin-top: 30px;
}

#page_main {
	background-color: #bbbbbb;
}

#user {
    background-color: #ddd;
    height: 60px;
    padding-right: 10px;
}

#mypage {
    float: right;
    width: 120px;
    height: 40px;
    font-size: 21px;
    font-weight: bold;
    text-decoration: underline;
    color: #fff;
    background-color: #ff4500;
    border: none;
    border-radius: 10px;
    margin: 10px 5px 0px 5px;
    box-shadow: 4px 4px 4px rgba(0,0,0,0.4);
}

#logout {
    float: right;
    width: 120px;
    height: 40px;
    font-size: 21px;
    font-weight: bold;
    text-decoration: underline;
    color: #fff;
    background-color: #ff4500;
    border: none;
    border-radius: 10px;
    margin: 10px 5px 0px 5px;
    box-shadow: 4px 4px 4px rgba(0,0,0,0.4);
}


#return {
	margin-left: 530px;
}

#write_article_form {
}

#write_article_table {
	margin: 0 auto;
	width: 600px;
	border: 1;
	background-color: white;
}

#write_article_table textarea{
	resize: none;
	width: 98%;
}

#submit {
	position: absolute;
	width: 600px;
	left: 50%;
	margin-left: -300px;
}

#write_article_form p:nth-child(-n+4) {
}

#write_article_form p:nth-child(5) {
}

#return {
}